body
{
    background-color: rgba(17, 0, 255, 0.308);
    color: rgba(4, 47, 87, 0.692);
    font-size: 35px;
    
   


}
#kontener
    {
    width: 800px;
    height: 400px;
    background-color: rgb(15, 134, 124);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-style: groove;
    border-color:grey;
    border-width: 10px;
    border-radius: 10px;


    }
        .grafika
        {
            color: rgb(2, 22, 22);




        } 

           img
            {
                width: 200px;
                height: 280px;
                display: block;
               position: absolute;
               right: 650px;
               
               
              
                
            }




            
        table
        {

            margin-top: -400px;
            margin-left: 600px;
        }
        
        th {
           
            background: linear-gradient(to right, red,orange,yellow,green,rgba(255, 94, 0, 0.308),indigo,violet); 
            font-style: italic;
            font-size: 200%;
            align-self: right;
            border-collapse: collapse;
            width: 150px; }
        td {
            font-family: 'Times New Roman', Times, serif;
            border: 0px solid rgb(122, 18, 18);
            padding: 5px;
            }
        