body {
    background: linear-gradient(to left, white, grey);
    color: rgba(4, 47, 87, 0.692);
    font-size: 35px;
}

#container {
    width: 800px;
    height: 400px;
    background: white;
    display: block;
    margin-top: 200px;
    margin-left: 500px;
    border-style: groove;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
}

.image img {
    width: 200px;
    height: 280px;
    display: block;
    position: fixed;
    right: 900px;
    top: 1000px;
    z-index: 1;
}

p {
    margin: 10px 550px 10px;
}

table {
    margin-top: -400px;
    margin-left: 600px;
}

th {
    background: linear-gradient(to right, black, rgba(228, 227, 227, 0.835));
    font-style: italic;
    color: white;
    font-size: 200%;
    border-collapse: collapse;
    width: 20px;
}

td {
    background: linear-gradient(to right, grey, white);
    font-style: oblique;
    font-size: 100%;
    border-collapse: collapse;
    width: 20px;
}

td {
    color: black;
    text-shadow: 4px 4px 5px white;
    font-family: 'Times New Roman', Times, serif;
    border: 0px;
    padding: 5px;
}